<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Sport Api" %></h2>
  <p>Examples of endpoints:</p>
  <div style="text-align: left;">
    <ul>
      <ol><a href="/leagues">/leagues</a></ol>
      <ol><a href="/leagues?season=2015-2016">/leagues?season=2016-2015</a></ol>
      <ol><a href="/leagues?season=2025-2026">/leagues?season=2025-2026</a></ol>
    </ul>
  </div>
</div>
